body {
    font-family: 'Arial', sans-serif;
    color: #000000;
    background-color: #f0f8ff;
}

.footerbutton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.x {
    border: none;
    background-color: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: #282828;
    background: linear-gradient(0deg, rgba(51,51,51,0.5) 0%, rgba(0,112,255,0) 100%); 
}

h1 {
    text-align: center;
    color: #ffffff;
}

.media-container audio {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    padding-top: 32px;
    min-width: 100%;
    align-items: center;
}

.media-container img {
    max-width: 100%;
    max-height: 168px;
    object-fit: contain;
    padding-top: 32px;
    min-width: 80%;
    min-height: 80%;
}

.media-container video {
    max-width: 100%;
    object-fit: contain;
    padding-top: 32px;
}

.media-info {
    padding: 10px;
    background-color: #f9f9f9;
}

.file-name {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#gallery img {
    width: 100px;
    height: auto;
    cursor: pointer;
    object-fit: contain;
    align-items: center;
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#lightbox.hidden {
    visibility: hidden;
    opacity: 0;
}

#lightbox:not(.hidden) {
    visibility: visible;
    opacity: 1;
}

#lightbox-content {
    position: relative;
    width: 60%;
    height: 60%;
    max-width: 800px; 
    max-height: 600px; 
    overflow: hidden;
    text-align: center;
}

#lightbox-content img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

#lightbox-content video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

#lightbox-content video:not(.playing) {
    display: none;
}

#lightbox-caption {
    position: absolute; 
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.caption {
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 8px;
    color: #ffffff;
    flex-shrink: 0;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 32px;
    background: linear-gradient(162deg, rgb(114, 123, 135) 0%, rgba(99, 113, 121, 0.849) 35%, rgba(77,82,84,0.502007492450105) 100%);
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.settings .footerbutton {
    flex: 1;
    border-radius: 10px;
}

#finder {
    border: none;
    background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(51,51,51,0) 0%, rgba(0,112,255,0) 100%); 
    display: block;
    margin: -10px auto;
    cursor: pointer;
}

.inner-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    justify-content: center;
}

.media-container {
    border: 3px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: rgb(51,51,51);
    background: linear-gradient(162deg, rgb(114, 123, 135) 0%, rgba(99, 113, 121, 0.849) 35%, rgba(77,82,84,0.502007492450105) 100%); 
}

.info {
    width: 341px;
    padding: 10px;
    background: linear-gradient(162deg, rgb(114, 123, 135) 0%, rgba(99, 113, 121, 0.849) 35%, rgba(77,82,84,0.502007492450105) 100%);
    color: #ffffff;
    padding-bottom: none;
}

.info > div {
    margin: 5px;
    width: 100%;
    font-size: 14px;
}
